/* ==========================
   SIDEBAR (Same as Dashboard)
========================== */

.sidebar{

    position:fixed;

    top:0;

    left:0;

    width:260px;

    height:100vh;

    background:#0F172A;

    color:#fff;

    padding:30px 20px;

    overflow-y:auto;

    z-index:1000;

}

.logo{

    margin-bottom:40px;

}

.logo h3{

    color:#fff;

    font-weight:700;

}

.menu{

    list-style:none;

    padding:0;

}

.menu li{

    margin-bottom:12px;

}

.menu li a{

    display:flex;

    align-items:center;

    gap:14px;

    text-decoration:none;

    color:#CBD5E1;

    padding:14px 16px;

    border-radius:12px;

    transition:.3s;

}

.menu li a:hover{

    background:#1E293B;

    color:#fff;

}

.menu li a i{

    font-size:18px;

}

/* ---------- TOPBAR ---------- */

.topbar{

    background:#334155;

    color:#fff;

    border-radius:18px;

    padding:20px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.10);

    margin-bottom:25px;

}

.top-left h2{

    font-size:28px;

    font-weight:700;

    color:#ffffff;

    margin-bottom:6px;

}

.subtitle{

    color:#E2E8F0;

    margin-bottom:8px;

}


.profile{

    display:flex;

    align-items:center;

    gap:15px;

}

.profile strong{

   color:#ffffff;

}

.profile small{

   color:#CBD5E1;

}

.profile-icon{

    font-size:46px;

    color:#93C5FD;

}


/* MOBILE */

@media(max-width:768px){


.history-table{

    display:block;

    overflow-x:auto;

}


.history-header h3{

    font-size:22px;

}


.history-btn{

    width:100%;

    text-align:center;

    margin-bottom:10px;

}


}
/* Compare Bank Page */


.bank-page{

    display:flex;

    min-height:100vh;

    /* background:#f8fafc; */
    background:#f5f8ff;
   
   

}


.bank-content{

    flex:1;

    padding:0 35px 40px;
    margin-left:260px;

}



.compare-card{

    background:white;

    border-radius:25px;

    padding:35px;

   
     margin-top:20px;

    box-shadow:0 15px 35px rgba(0,0,0,0.08);

}



.compare-title{

    font-size:30px;

    font-weight:700;

    color:#172554;

    margin-bottom:30px;

}



/* TABLE */


.table-wrapper{

    overflow-x:auto;

}



.bank-table{

    width:100%;

    border-collapse:separate;

    border-spacing:0;

}



.bank-table th{

    background:#1e293b;

    color:white;

    padding:15px;

    text-align:center;

}



.bank-table td{

    padding:15px;

    text-align:center;

    background:#ffffff;

    border-bottom:1px solid #e2e8f0;

}



.bank-table tr:hover td{

    background:#f8fafc;

}



/* AI CARD */


.ai-bank-card{

    margin-top:35px;

    padding:30px;

    border-radius:22px;

    background:linear-gradient(
        135deg,
        #ffffff,
        #f1f5ff
    );

    box-shadow:0 10px 25px rgba(0,0,0,0.08);

}


.bank-icon{

    font-size:50px;

}

