/* ==========================
   BODY
========================== */

body{
    background:#EEF4FB;
    font-family:Segoe UI, sans-serif;
}

/* ==========================
   CONTAINER
========================== */

.container{
    max-width:950px;
    margin-top:50px !important;
}

/* ==========================
   PROFILE CARD
========================== */

.card{

    border:none !important;

    border-radius:25px !important;

    overflow:hidden;

    background:#fff;

    box-shadow:0 20px 45px rgba(0,0,0,.08);

    transition:.4s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 30px 60px rgba(37,99,235,.18);

}

/* ==========================
   HEADER
========================== */

.card-header{

    background:linear-gradient(135deg,#2563EB,#3B82F6)!important;

    padding:28px;

    border:none;

    text-align:center;

}

.card-header h3{

    color:white;

    font-weight:700;

    margin:0;

    letter-spacing:.5px;

    font-size:30px;

}

/* ==========================
   BODY
========================== */

.card-body{

    padding:40px;

}

/* ==========================
   TABLE
========================== */

.table{

    margin-top:15px;

}

.table th{

    color:#2563EB;

    font-weight:700;

    width:220px;

    border:none;

    padding:18px;

}

.table td{

    border:none;

    background:#F8FAFC;

    border-radius:10px;

    padding:18px;

    font-weight:600;

    color:#334155;

}

.table tr{

    border-bottom:12px solid white;

}

/* ==========================
   BUTTON
========================== */

.btn-primary{

    background:linear-gradient(135deg,#2563EB,#3B82F6);

    border:none;

    border-radius:14px;

    padding:12px 30px;

    font-size:17px;

    font-weight:600;

    transition:.3s;

}

.btn-primary:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(37,99,235,.25);

}

/* ==========================
   ICON
========================== */

.card-header::before{

    content:"👤";

    display:block;

    font-size:60px;

    margin-bottom:12px;

}




