<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
href="{{ url_for('static',filename='css/layout.css') }}">


<link rel="stylesheet"
href="{{ url_for('static',filename='css/sidebar.css') }}">


<link rel="stylesheet"
href="{{ url_for('static',filename='css/topbar.css') }}">


<link rel="stylesheet"
href="{{ url_for('static',filename='css/responsive.css') }}">

    {% block css %}


    {% endblock %}

</head>

<body>
<div class="flash-container">

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category,message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show">

{{message}}

<button
class="btn-close"
data-bs-dismiss="alert">

</button>

</div>

{% endfor %}

{% endif %}

{% endwith %}

</div>
<div id="page-content">

{% block content %}

{% endblock %}

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>

document.addEventListener("DOMContentLoaded", function(){

    setTimeout(function(){

        let messages = document.querySelectorAll(".flash-message");

        messages.forEach(function(message){

            message.style.transition = "opacity 0.5s";

            message.style.opacity = "0";


            setTimeout(function(){

                message.remove();

            },500);


        });


    },4000);


});

</script>

{% block js %}

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

async function loadPage(url){

    try{

       const response = await fetch(url, {
    credentials: "include"
});

        const html = await response.text();


        document.getElementById("page-content").innerHTML = html;


       window.history.pushState({}, "", url);


    }

    catch(error){

        console.log(error);

    }

}

</script>

<script src="{{ url_for('static', filename='js/responsive.js') }}"></script>

</body>

</html>